.App {
  width: 65vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 80% 0.5fr;
  background: rgb(235, 235, 235);
}

@keyframes load-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}


@media (prefers-reduced-motion: no-preference) {
  .load-logo {
    animation: load-logo-spin infinite 20s linear;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: flex-start;
  padding: 0 5px;
}

.message-list > .message {
  max-width: 85%;
  background-color: lightblue;
  margin-bottom: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-message {
  align-self: flex-end;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: end;
}

.text {
  display: flex;
  flex-direction: column;
}

.text .name {
  font-weight: 700;
}

.text .date {
  font-size: 11px;
  align-self: flex-end;
  margin: 5px;
}

#like {
  margin: 0 10px;
  font-size: 1em;
  user-select: none;
}

#like:hover {
  color: lightcoral;
}

.red {
  color: red;
}

.white {
  color: white;
}

.send {
  display: flex;
  align-items: flex-end;
}

.send-field {
  width: 80%;
  height: 85%;
  font-size: 15px;
  padding: 0 10px;
}

.sendBtn {
  width: 20%;
  height: 95%;
  background: lightblue;
  cursor: pointer;
  border: 1px solid rgb(177, 177, 238);
  user-select: none;
  font-weight: 600;
}

.sendBtn:hover {
  border: 1px solid lightblue;
  background: rgb(177, 177, 238);
}

.edit {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 3px;
  margin-right: 10px;
}

.edit span {
  cursor: pointer;
  user-select: none;
}

.editor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor input{
  background-color: transparent;
  border: 0px solid;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}

.editor span {
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .App {
    width: 100%;
  }
} 